.cart {
  min-height: 90vh;
  border-bottom: 2px solid #afafaf;
}

.cart_wrapper {
  max-width: 1300px;
  margin: 2rem auto;
  padding: 2rem;
}

.cart_wrapper > h1 {
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 2.1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.cart_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart_buttons button {
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 500;
  border: 0;
}

.cart_buttons button:first-of-type {
  background-color: transparent;
  border: 1px solid black;
}

.cart_buttons button:first-of-type:hover {
  background-color: black;
  color: white;
}

.cart_buttons button:last-of-type {
  background-color: black;
  color: white;
}

.cart_buttons button:last-of-type:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.cart_main {
  display: flex;
  justify-content: space-between;
}

.cart_products {
  max-height: 675px;
  overflow-y: auto;
  padding: 0 1rem;
}

.cart_products::-webkit-scrollbar {
  width: 10px;
}

.cart_products::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: black;
}

.cart_summary > h1 {
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.cart_summary > p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.cart_summary span {
  font-weight: normal;
}

.cart_summary .checkout {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 25px;
  background-color: #afafaf;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

@media (max-width: 1240px) {
  .cart_wrapper > h1 {
    font-size: 1.75rem;
  }

  .cart_main {
    flex-direction: column;
    align-items: center;
  }

  .cart_products {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: none;
    overflow-y: hidden;
  }

  .cart_summary {
    margin-top: 3rem;
  }

  .cart_summary > h1 {
    font-size: 1.75rem;
  }

  .cart_summary > p {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .cart_buttons button {
    font-size: 0.75rem;
  }

  .empty {
    font-size: 1.35rem;
  }
}

@media (max-width: 321px) {
  .cart_buttons button {
    font-size: 0.65rem;
  }

  .empty {
    font-size: 1.2rem;
  }

  .cart_wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
