.wishlist_product {
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wishlist_product_img_container {
  flex: 0.4;
  cursor: pointer;
}

.wishlist_product_img_container img {
  width: 100%;
  min-width: 204px;
}

.wishlist_product_info {
  flex: 0.7;
  margin-left: 1rem;
  padding: 1rem 2rem;
}

.wishlist_product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.wishlist_product_info .details {
  color: #afafaf;
  font-weight: 500;
}

.wishlist_product_info .wishlist_value {
  color: black;
  font-weight: normal;
}

.wishlist_product_remove_icon {
  cursor: pointer;
}

.wishlist_product_remove_icon:hover {
  color: #afafaf;
}

.wishlist_product_info .add {
  border: 1px solid black;
  outline: 0;
  width: 25%;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
}

.wishlist_product_info .add:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1200px) {
  .wishlist_product {
    width: 85%;
  }

  .wishlist_product_info .add {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .wishlist_product {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .wishlist_product {
    flex-direction: column;
  }

  .wishlist_product_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wishlist_product_img_container img {
    width: 92%;
  }

  .wishlist_product_info {
    margin-left: 0;
  }
}

@media (max-width: 321px) {
  .wishlist_product_info .add {
    width: 75%;
  }
}
